@import '../globals';

@media screen and (min-width: 1025px) {
    .navbar {
        height: 6.9rem;
    }

    .navbar__logo {
        margin-left: 13rem;
    }

    .navbar__buttons-container {
        align-items: flex-end;
        display: flex;
        height: 100%;
        margin-right: 13rem;
    }

    .navbar__burger-menu-button {
        height: 0.8rem;
        width: 0.8rem;
    }

    .navbar__arrow-container img {
        height: 2rem;
        width: 2rem;
    }

    .landing__img {
        left: -2.5%;
        top: 1.5%;
        transform: scale(1.5);
    }

    .landing__content {
        display: block;
        height: initial;
        margin-left: 10rem;
        margin-top: 7.5rem;
    }

    .landing__title {
        font-size: 6.1767rem;
        line-height: 5.2254rem;
    }

    .landing__title-top {
        line-height: 7.2rem;
    }
}

@media screen and (min-aspect-ratio: 16/9) {
    .landing {
        background-size: 130%;
    }
}

@media screen and (min-aspect-ratio: 2/1) {
    .landing {
        background-size: 120%;
    }
}

@media screen and (min-aspect-ratio: 16/7) {
    .landing {
        background-size: 105%;
    }
}
