@import '../globals';

@media screen and (min-width: $laptop) {
    .navbar {
        height: 7rem;
    }

    .navbar__logo {
        font-size: 4.3168rem;
        margin-left: 10rem;
    }

    .navbar__buttons-container {
        align-items: flex-end;
        display: flex;
        height: 100%;
        margin-right: 10rem;
    }

    .navbar__burger-menu-button {
        height: 0.8rem;
        width: 0.8rem;
    }

    .navbar__arrow-container img {
        height: 2rem;
        width: 2rem;
    }

    .main {
        border-width: 3.4rem;
        margin-top: 2rem;
    }

    .landing--desktop {
        display: initial;
        height: initial;
    }

    .landing--tablet,
    .landing--mobile {
        display: none;
        height: 0;
    }

    .landing {
        background-color: #e9e5e1;
        overflow: hidden;
        position: relative;
    }

    .landing__table-img-container {
        bottom: -70rem;
        position: absolute;
        right: -50rem;
        width: 180rem;
        z-index: 10;
    }

    .landing__table-img {
        width: 100%;
    }

    .landing__content {
        display: block;
        height: initial;
        margin-left: 10rem;
        margin-top: 17.5rem;
    }

    .landing__title {
        font-size: 6.1767rem;
        line-height: 5.2254rem;
    }

    .landing__subtitle {
        color: black;
        font-size: 2.2461rem;

        &--desktop strong:nth-child(1) {
            font-size: 3.0883rem;
            font-weight: 300;
        }
    }

    .landing__call-to-action-button {
        background-color: transparent;
        border: 0.1rem solid rgba(0, 0, 0, 0.5);
        color: rgba(0, 0, 0, 0.75);
        cursor: pointer;
        font-size: 1.4038rem;
        font-weight: 300;
        height: 2.3rem;
        line-height: 2.3rem;
        margin-top: 11rem;
        width: 7.2rem;
    }
}
