@import '../globals';

@media screen and (min-width: $tablet) and (min-height: $mobile-lg) {
    .navbar {
        height: 6.3rem;
    }

    .navbar__logo {
        font-size: 4.278rem;
        margin-left: 6.8rem;
    }

    .navbar__buttons-container {
        margin-right: 6.8rem;
    }

    .navbar__burger-menu-button {
        height: 0.65rem;
        width: 0.65rem;
    }

    .navbar__arrow-container img {
        height: 1.6rem;
        width: 1.6rem;
    }

    .main {
        border-width: 2.6rem;
        margin-top: 2rem;
    }

    .landing {
        background-position: 50% 95%;
        background-size: 150%;
    }

    .landing__content {
        display: block;
        height: initial;
        margin-left: 5rem;
        margin-top: 8rem;
        width: 100%;
    }

    .landing__title-top {
        font-size: 3.5rem;
        line-height: 5.2rem;
    }

    .landing__title-bottom {
        font-size: 5.5rem;
        line-height: 5.2rem;
    }

    .landing__subtitle {
        font-size: 2rem;
        font-weight: 300;
        line-height: 7.5598rem;
    }
}

@media screen and (min-width: $tablet) and (orientation: landscape) {
    .navbar {
        height: 5rem;
    }

    .main {
        border-bottom-width: 3.3rem;
        margin-top: 1.3rem;
    }

    .landing__content {
        margin-left: 7rem;
        margin-top: 9rem;
    }

    .landing__title-top {
        font-size: 3.5rem;
        line-height: 5.2rem;
    }

    .landing__title-bottom {
        font-size: 5.5rem;
        line-height: 5.2rem;
    }

    .landing__subtitle {
        font-size: 2rem;
        font-weight: 300;
        line-height: 7.5598rem;
    }
}
