@import '../globals';

@media screen and (min-width: $tablet) and (min-height: $mobile-lg) {
    .navbar {
        height: 6.7rem;
    }

    .navbar__logo {
        font-size: 4.1rem;
        margin-left: 7.5rem;
    }

    .navbar__buttons-container {
        margin-right: 6.8rem;
    }

    .navbar__burger-menu-button {
        height: 0.65rem;
        width: 0.65rem;
    }

    .navbar__arrow-container img {
        height: 1.6rem;
        width: 1.6rem;
    }

    .main {
        border-width: 2.8rem;
    }

    .landing__img {
        left: -25%;
        top: -111%;
        transform: scale(1.24);
    }

    .landing__content {
        display: block;
        height: initial;
        margin-left: 5rem;
        margin-top: 18rem;
        width: 100%;
    }

    .landing__title-top {
        font-size: 3.5rem;
        line-height: 7.2rem;
    }

    .landing__title-bottom {
        font-size: 5.5rem;
        font-weight: 300;
        line-height: 5.2rem;
    }

    .landing__subtitle {
        font-size: 2rem;
        font-weight: 300;
        line-height: 7.5598rem;
    }
}

@media screen and (min-width: $tablet) and (min-height: $mobile-lg) and (orientation: landscape) {
    .navbar {
        height: 5.9rem;
    }

    .navbar__logo {
        margin-left: 10rem;
    }

    .main {
        border-width: 3.2rem;
    }

    .landing__img {
        left: -27.5%;
        top: 0;
        transform: scale(1.04);
    }

    .landing__content {
        margin-left: 7rem;
        margin-top: 5rem;
    }

    .landing__title-top {
        font-size: 3.5rem;
        line-height: 6.2rem;
    }

    .landing__title-bottom {
        font-size: 5.5rem;
        line-height: 5.2rem;
    }

    .landing__subtitle {
        font-size: 2rem;
        font-weight: 300;
        line-height: 7.5598rem;
    }
}
