@import '../globals';

@media screen and (min-width: 0) {
    .navbar {
        align-items: center;
        display: flex;
        height: 4rem;
        justify-content: space-between;
    }

    .navbar__logo {
        font-size: 2.8076rem;
        font-weight: 300;
        margin-left: 4.5rem;
        transform: translateY(0.2rem);
    }

    .navbar__buttons-container {
        align-items: flex-end;
        display: flex;
        height: 100%;
        margin-right: 2rem;
    }

    .navbar__arrow-container {
        display: flex;

        img {
            height: 1.2rem;
            width: 1.2rem;
        }
    }

    .navbar__burger-menu {
        display: flex;
        list-style-type: none;
        margin-right: 1.8rem;
        position: relative;

        &-button {
            background-color: black;
            border-radius: 50%;
            height: 0.5rem;
            width: 0.5rem;
        }

        &-button:not(:first-child) {
            margin-left: 0.6rem;
        }
    }

    .main {
        border: 2rem solid white;
        border-top: 0;
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        overflow: hidden;
    }

    .landing {
        background-image: url('../../assets/images/table-tall.jpg');
        background-position: 39% 97%;
        background-repeat: no-repeat;
        background-size: 230%;
        filter: brightness(1.1);
    }

    .landing__content {
        color: white;
        margin-left: 2rem;
        margin-top: 14.5rem;
    }

    .landing__title-top {
        font-size: 2.1299rem;
        line-height: 5.3rem;
    }

    .landing__title-bottom {
        font-size: 3.3723rem;
        font-weight: 300;
        line-height: 3.3rem;
    }

    .landing__subtitle {
        font-size: 1.1537rem;
        margin-top: 1rem;
    }
}

@media screen and (max-width: $mobile-lg) {
    .main {
        border-bottom-width: 0;
    }
}

@media screen and (max-width: $mobile-sm) {
    .landing {
        background-size: cover;
    }
}

@media screen and (min-width: $mobile-sm) and (max-height: $mobile-lg) and (orientation: landscape) {
    .navbar__logo {
        align-items: center;
        display: inline-block;
        font-size: 2.5rem;
        font-weight: 300;
        justify-content: flex-start;
        margin-left: 6.2rem;
    }

    .navbar__buttons-container {
        align-items: flex-end;
        display: flex;
        height: 100%;
        margin-right: 2rem;
    }

    .landing {
        background-position: center 94%;
        background-size: 105%;
        overflow: hidden;
    }

    .landing__content {
        color: white;
        margin-left: 4rem;
        margin-top: 2.5rem;
    }

    .landing__title-top {
        line-height: 4.3rem;
    }

    .landing__subtitle {
        line-height: 4rem;
    }
}
