@font-face {
    font-family: 'Yellow Design Studio';
    font-weight: 300;
    src: url('../assets/fonts/Yellow Design Studio - VerbLight.otf');
}

@font-face {
    font-family: 'Yellow Design Studio';
    font-weight: 400;
    src: url('../assets/fonts/Yellow Design Studio - VerbMedium.otf');
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-rendering: optimizeLegibility;
}

html,
body {
    font-family: 'Yellow Design Studio', Arial, Helvetica, sans-serif;
    font-size: 10px;
}

body {
    font-size: 1.5rem;
}
