.app {
    display: flex;
    flex-direction: column;
    height: 100vh;
    position: fixed;
    width: 100%;

    .loader {
        left: 50%;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}

.main {
    border: 2rem solid white;
    border-top: 0;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    position: relative;
    transition: opacity 0.3s ease-out;
}

@media only screen and (max-device-width: 414px) {
    .main {
        border-bottom-width: 0;
    }
}

.landing {
    display: flex;
    flex-grow: 1;
    overflow: hidden;
    position: relative;

    &__content {
        color: white;
        position: relative;
    }
}

.navbar {
    align-items: center;
    display: flex;
    height: 4rem;
    justify-content: space-between;
}

.navbar__logo {
    font-size: 2.8076rem;
    font-weight: 300;
    margin-left: 4.5rem;
    transform: translateY(0.2rem);
}

.navbar__buttons-container {
    align-items: flex-end;
    display: flex;
    height: 100%;
    margin-right: 2rem;
}

.navbar__arrow-container {
    display: flex;

    img {
        height: 1.2rem;
        width: 1.2rem;
    }
}

.navbar__burger-menu {
    display: flex;
    list-style-type: none;
    margin-right: 1.8rem;
    position: relative;

    &-button {
        background-color: black;
        border-radius: 50%;
        height: 0.5rem;
        width: 0.5rem;
    }

    &-button:not(:first-child) {
        margin-left: 0.6rem;
    }
}

.landing__img {
    bottom: 0;
    filter: brightness(1.1);
    height: 100%;
    left: 0;
    position: absolute;
    transform-origin: 100% 100%;
    transition: transform 0.3s;
}

.landing__title-top {
    font-size: 2.1299rem;
}

.landing__title-bottom {
    font-size: 3.3723rem;
    font-weight: 300;
}

@import './desktop/HomeSectionDesktop';
@import './tablet/HomeSectionTablet';
@import './mobile/HomeSectionMobile';
