@import './globals';

.app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
}

.main {
    border: 2rem solid white;
    border-top: 0;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-top: 1.3rem;
}

.landing {
    display: flex;
    flex-grow: 1;
    overflow: hidden;
    position: relative;

    &__content {
        display: none;
        height: 0;
        position: relative;
    }
}

@import './mobile/HomeSection';
@import './tablet/HomeSection';
@import './desktop/HomeSection';
